Features/
Help/desktop.ini
#MyBot.run.MiniGui_stripped.au3
#MyBot.run.Watchdog_stripped.au3
#MyBot.run.Wmi_stripped.au3
#MyBot.run_stripped.au3
MyBot.run.exe
MyBot.run.MiniGui.exe
MyBot.run.Watchdog.exe
EnableMBRDebug.txt
MyBot.run.Wmi.exe
Profiles/
build/
build.bat
build_retry.bat
build_delete_compile.bat
build_compile_only.bat
build_zip_only.bat
BuildMBR.exe
*.zip
#lib/
lib/debug/
*.lnk
Strategies/strategy *.ini