Features/
Help/desktop.ini
MyBot.run.MiniGui_stripped.au3
MyBot.run.Watchdog_stripped.au3
MyBot.run.exe
MyBot.run.MiniGui.exe
MyBot.run.Watchdog.exe
EnableMBRDebug.txt
MyBot.run.Wmi_stripped.au3
MyBot.run.Wmi.exe
MyBot.run_stripped.au3
Profiles/
